<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="botcoin" type="BotCoin.Core.BotcoinConfigSection, BotCoin"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BotCoin.BitmexScalper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <botcoin>
    <connections>
      <connection name="WebApi"    url="http://localhost:5633"/>
      <connection name="BitmexBot" url="ws://localhost:5644/ws" timeoutMinute="10"/>
    </connections>
    <bitmexScalper xbtBalance="0.05" riskPercent="0.1" accountMode="BitmexTest">
      <contracts code="M19">
        <contract name="XbtSwap" symbol="XBTUSD" priceSlip="10" stopSlip="10"/>
        <contract name="EthSwap" symbol="ETHUSD" priceSlip="5" stopSlip="5"/>
        <contract name="Ltc"     symbol="LTC" priceSlip="5" stopSlip="5"/>
        <contract name="Eos"     symbol="EOS" priceSlip="10" stopSlip="10"/>
        <contract name="Xrp"     symbol="XRP" priceSlip="10" stopSlip="10"/>
        <contract name="Ada"     symbol="ADA" priceSlip="10" stopSlip="10"/>
        <contract name="Trx"     symbol="TRX" priceSlip="10" stopSlip="10"/>
        <contract name="Bch"     symbol="BCH" priceSlip="10" stopSlip="10"/>
      </contracts>
    </bitmexScalper>
  </botcoin>
  <appSettings>
    <add key="AppStateFilePath" value="C:\ProgramData\Botcoin\BtxScalper\AppState.json" />
    <add key="PositionWatcherFilePath" value="C:\ProgramData\Botcoin\BtxScalper\PosWatcher.json" />    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BotCoin.BitmexScalper.Properties.Settings>
      <setting name="XbtSwap" serializeAs="String">
        <value>XBTUSD</value>
      </setting>
      <setting name="EthSwap" serializeAs="String">
        <value>ETHUSD</value>
      </setting>
      <setting name="LtcContract" serializeAs="String">
        <value>LTCM19</value>
      </setting>
      <setting name="EosContract" serializeAs="String">
        <value>EOSM19</value>
      </setting>
      <setting name="XrpContract" serializeAs="String">
        <value>XRPM19</value>
      </setting>
      <setting name="AdaContract" serializeAs="String">
        <value>ADAM19</value>
      </setting>
      <setting name="TrxContract" serializeAs="String">
        <value>TRXM19</value>
      </setting>
      <setting name="BchContract" serializeAs="String">
        <value>BCHM19</value>
      </setting>
    </BotCoin.BitmexScalper.Properties.Settings>
  </userSettings>
</configuration>
