<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="ApiUrl" value="http://api.botscoin.net:5633"/>-->
    <add key="ApiUrl" value="http://localhost:5633" />
    <add key="PositionFilePath" value="C:\ProgramData\Botcoin\BtxScalper\WndPos.json" />
    <add key="StopPcnt1" value="0.2" />
    <add key="StopPcnt2" value="0.2" />
    <add key="ProfitPcnt" value="0.4" />
    <add key="AutoPxLimitUSD" value="5" />
    <add key="ShowPriceWindow" value="false" />
    <add key="userAgent" value="Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.94 Safari/537.36" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
