<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="XbtMakerFee" value="0.00025"/>
    <add key="XbtTakerFee" value="-0.00075"/>
    <add key="EthMakerFee" value="0.00025"/>
    <add key="EthTakerFee" value="-0.00075"/>
    <add key="LtcMakerFee" value="0.0005"/>
    <add key="LtcTakerFee" value="-0.0025"/>
    <add key="LtcContract" value="LTCH19"/>
  </appSettings>
</configuration>
