<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="botcoin" type="BotCoin.Core.BotcoinConfigSection, BotCoin" />
  </configSections>
  <botcoin>
    <websocketExchanges>
      <exchange name="Binance"  enable="1" />
      <exchange name="Bitmex"   enable="1" />
      <exchange name="Bitstamp" enable="1" />
      <exchange name="Gdax"     enable="1" />
    </websocketExchanges>  
  </botcoin>
  <connectionStrings>
    <add name="Botcoin" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Botcoin;Persist Security Info=True;User ID=sa" />
    <add name="TradeData" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=TradeData;Persist Security Info=True;User ID=sa" />
  </connectionStrings>
  <appSettings>
    <add key="LoadVwap"           value="0"/>
    <add key="TradeTimerInterval" value="3"/>
    <add key="QuarterlyLetter"    value="M"/>
    <add key="SyncVwapsOnLaunch"  value="0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>
