<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="botcoin" type="BotCoin.Core.BotcoinConfigSection, BotCoin" />
  </configSections>
  <botcoin>
    <restExchanges instrument="btc">
      <exchange name="Bitmex" enable="1" />
    </restExchanges>
    <!--<websocketExchanges instrument="btc" />-->
    <connections>
      <connection name="Arbitrage" domainName="hft.botscoin.net" port="5550" />
      <connection name="RestScheduler" domainName="botscoin.net" port="5560" />
    </connections>
  </botcoin>
  <appSettings>
    <add key="userAgent" value="Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.94 Safari/537.36" />
  </appSettings>
  <connectionStrings>
    <add name="Botcoin" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Botcoin;Persist Security Info=True;User ID=sa" />
    <add name="TradeData" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=TradeData;Persist Security Info=True;User ID=sa" />
  </connectionStrings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
