<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="botcoin" type="BotCoin.Core.BotcoinConfigSection, BotCoin"/>
  </configSections>
  <botcoin>    
    <restExchanges>
      <exchange name="Kuna"       enable="1" />
      <exchange name="Bitbay"     enable="1" />
      <exchange name="Quadriga"   enable="1" />
      <exchange name="Kraken"     enable="0" />
      <exchange name="BtcTrade"   enable="0" />
      <exchange name="Bitstamp"   enable="0" />
      <exchange name="Bitfinex"   enable="0" />
      <exchange name="CoinCheck"  enable="0" />
      <exchange name="OkCoin"     enable="0" />
      <exchange name="Cex"        enable="0" />
      <exchange name="CobinHood"  enable="0" />
      <exchange name="Luno"       enable="0" />
    </restExchanges>
    <websocketExchanges>
      <exchange name="Cex"        enable="1" />
      <exchange name="Bitstamp"   enable="1" />
      <exchange name="CoinCheck"  enable="1" />
      <exchange name="OkCoin"     enable="0" />
      <exchange name="Luno"       enable="1" />
      <exchange name="CobinHood"  enable="0" />
    </websocketExchanges>
    <connections>
      <connection name="DbGateway" port="5550" />
      <connection name="RestScheduler" domainName="localhost" port="5560" />
    </connections>
    <exchangeSettings>
      <exchange name="Kuna"       restUrl="https://kuna.io/api/v2/"           currency="UAH" />
      <exchange name="Kraken"     restUrl="https://api.kraken.com/0/"         currency="USD" />
      <exchange name="Bitstamp"   restUrl="https://www.bitstamp.net/api/v2/"  currency="USD" />
      <exchange name="Bitbay"     restUrl="https://bitbay.net/API/PUBLIC/"    currency="PLN" />
      <exchange name="Quadriga"   restUrl="https://api.quadrigacx.com/v2/"    currency="CAD" />
      <exchange name="BtcTrade"   restUrl="https://btc-trade.com.ua/api/"     currency="UAH" />
      <exchange name="Bitfinex"   restUrl="https://api.bitfinex.com/v1/"      wsUrl="wss://api.bitfinex.com/ws/" currency="USD" />
      <exchange name="CoinCheck"  restUrl="https://coincheck.com/api/"        wsUrl="wss://ws-api.coincheck.com/" currency="JPY" />
      <exchange name="OkCoin"     restUrl="https://www.okcoin.com/api/v1/"    wsUrl="wss://real.okcoin.com:10440/websocket/" currency="USD" />
      <exchange name="Cex"        restUrl="https://cex.io/api/"               wsUrl="wss://ws.cex.io/ws/" currency="USD" userId="up113083806" />
      <exchange name="Luno"       restUrl="https://api.mybitx.com/api/1/"     wsUrl="wss://ws.luno.com/api/1/stream/XBTZAR" currency="ZAR" />
      <exchange name="CobinHood"  restUrl="https://api.cobinhood.com/v1/"     wsUrl="wss://feed.cobinhood.com/" currency="USD" />
      <exchange name="CurrencyRateUah" restUrl="https://api.privatbank.ua/p24api/" />
    </exchangeSettings>    
  </botcoin>
  <appSettings>
    <add key="RestSchedulerTimeoutSec" value="4"/>
    <add key="LogMatchingData" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="Botcoin" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=BotCoin;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
