<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="botcoin" type="BotCoin.Core.BotcoinConfigSection, BotCoin" />
  </configSections>
  <botcoin>
    <restExchanges>
      <exchange name="Quadriga" enable="0" />
      <exchange name="Kuna" enable="0" />
      <exchange name="Liqui"    enable="0" /> 
      <exchange name="Bitbay"   enable="0" />      
      <exchange name="Bittrex"  enable="0" />
      <exchange name="Kraken"   enable="0" />
    </restExchanges>
    <websocketExchanges instrument="btc">
      <exchange name="Binance" enable="0" />
      <exchange name="OkEx" enable="0" />
      <exchange name="Bitstamp" enable="1" />
      <exchange name="Wex" enable="0" />
      <exchange name="HitBtc" enable="0" />
      <exchange name="Cex"      enable="0" />            
      <exchange name="XBtce"    enable="0" />
      <exchange name="Btcc"     enable="0" />
    </websocketExchanges>
    <settings>
      <instruments enable="0" minProfitRatio="2.99">
        <pair name="BTC-ETH" />
        <!--<pair name="BTC-BCH"/>
        <pair name="BTC-DSH"/>-->
      </instruments>
      <profitRatioStrategy minUsdProfit="0.0" profitRatio="15:4,10:3,5:2,2.5:1" />
      <restScheduler timeoutSeconds="3" />
      <tradingStrategy minMatchingRatio="-1" avgBtcAmount="0.1" avgEthAmount="1.0" avgBchAmount="0.8" avgLtcAmount="5.0" avgDashAmount="1.5" avgXrpAmount="1170.0" />
    </settings>
    <connections>
      <connection name="Arbitrage" domainName="hft.botscoin.net" port="5550" />
      <connection name="RestScheduler" domainName="botscoin.net" port="5560" />
    </connections>
  </botcoin>
  <appSettings>
    <add key="SyncBalancesTimeoutMinutes" value="30" />
    <add key="userAgent" value="Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.94 Safari/537.36" />
  </appSettings>
  <connectionStrings>
    <add name="Botcoin" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=BotCoin_Test2;Persist Security Info=True;User ID=sa" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.15.1.10" newVersion="0.15.1.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
