<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SyncBalanceAtStart" value="0" />
    <add key="TradingStrategy" value="BestPriceStrategy" />
    <!--<add key="TradingStrategy" value="OptimalAmountStrategy"/>-->
    <add key="ProfitRatioPercent" value="2.0" />
    <add key="Instruments" value="BTC" />

    <!-- Exchanges monitoring -->
    <add key="KunaEnable"       value="0" />
    <add key="BitstampEnable"   value="0" />
    <add key="BitbayEnable"     value="1" />
    <add key="BtcTradeEnable"   value="0" />
    <add key="CoinCheckEnable"  value="0" />
    <add key="OkCoinEnable"     value="0"/>
    <add key="QuadrigaEnable"   value="0" />
    <add key="CexEnable"        value="0" />
    <add key="BtcMarketEnable"  value="0"/>

    <!-- REST clients timeout -->
    <add key="BitstampTimeout"  value="0" />
    <add key="CoinCheckTimeout" value="0" />
    <add key="CexTimeout"       value="0" />
    <add key="KunaTimeout"      value="2" />
    <add key="BitbayTimeout"    value="2" />
    <add key="BtcMarketTimeout" value="2" />
    <add key="BtcTradeTimeout"  value="2" />
    <add key="QuadrigaTimeout"  value="2" />
    
    <!-- API settings -->
    <add key="KunaAccessKey" value="cNcxvbN2vXpGq4VgrWVgx6YMdpxd2xIlxqmljyY7" />
    <add key="KunaSecretKey" value="5xTx0Cc3usj9LdTeO8z9xvsWIUWnTulyeDr58Plc" />
    <add key="BtcTradePublicKey" value="cbd6b66fa5c9bdd779801d9cb38db2e3acee6d7d3ff3bce17db49542d94a3bdf" />
    <add key="BtcTradeSecretKey" value="e78f460907f71cfac1b787235d098faad46cb7777598de6fe131f7438068c2ee" />
    <add key="BtcMarketAPiKey" value="7b912088-82ce-4941-bc99-b0f49b442b08" />
    <add key="BtcMarketSecretKey" value="ORESqWvHbuNjFa8BcZ7txO9NphaAQN68hieIKJjarxp/uS1lOUtsey3xjZ+wE52zFDbD0cHiWWyD6o7QZ1khZg==" />
    <add key="BitstampClientID" value="nedd1750" />
    <add key="BitstampAppKey" value="de504dc5763aeef9ff52" />
    <add key="CexUser" value="up113083806" />
    <add key="CexApiKey" value="2E0wBNeLGD8NUaMExtairHJn9js" />
    <add key="CexSecretKey" value="bg8TTi6pa8fImrhPtKSt2QLxCM" />
    <add key="QuadrigaClientID" value="3169482" />
    <add key="QuadrigaApiKey" value="vXRMkuMzcx" />
    <add key="QuadrigaSecretKey" value="b454q19b8xxi4917f0qjc2lg73gj4xvjy24k0gmf" />

    <!-- Logger settings -->
    <add key="LogTimeoutSeconds" value="30" />
    <add key="LogDirectory" value="TraderLog" />
    <add key="UseConsoleLog" value="1" />
    <add key="EnableTradesLog" value="1" />

    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.94 Safari/537.36" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.15.1.10" newVersion="0.15.1.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <connectionStrings>
    <add name="Botcoin" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=BotCoin;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
